
// Primary

@font-face {
  font-family: 'Primary';
  src:  url('/web/fonts/Meta-Normal.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Primary';
  src:  url('/web/fonts/Meta-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Primary';
  src:  url('/web/fonts/Meta-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}